:root {
  font-size: 16px;
  --orangeBackground: #fb781a;
  --btnHover: #c75300;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-color: var(--orangeBackground);
  background-color: white;
}

/* Header Extra Styling */

.wrapper header.afia-header {
  background-color: var(--orangeBackground);
}

.wrapper header.afia-header .afia-logo img {
  height: 30px;
}

.wrapper header.afia-header .mobile-menu {
  cursor: pointer;
}

.wrapper header.afia-header .mobile-menu .bar {
  display: block;
  background-color: #fff;

  width: 25px;
  height: 3px;
  margin: 5px auto;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrapper header.afia-header .mobile-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.wrapper header.afia-header .mobile-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.wrapper header.afia-header .mobile-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.wrapper header.afia-header nav.navbar ul.nav-menu .nav-items {
  margin-right: 40px;
}

.activeState {
  padding-bottom: 3px;
  border-bottom: 3px white solid;
  width: fit-content;
  transition: all ease 0.3;
}

.wrapper header.afia-header nav.navbar ul.nav-menu .nav-items a {
  text-decoration: none;
  color: #fff;

  display: block;
  font-size: 18px;
  font-weight: 700;
}

.wrapper header.afia-header nav.navbar ul.nav-menu .nav-items a:hover {
  text-decoration: underline;
}

.wrapper header.afia-header nav.navbar .nav-btn button {
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.wrapper header.afia-header nav.navbar .nav-btn button:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 600px) {
  .wrapper header.afia-header .mobile-menu {
    cursor: pointer;
  }

  .wrapper header.afia-header nav.navbar {
    align-items: unset;

    background-color: #fb7210;

    position: fixed;
    left: -100%;
    top: 0;

    width: 80%;
    height: 100%;
    padding: 40px 20px !important;

    transition: 0.3s;
  }

  .wrapper header.afia-header nav.navbar.active {
    left: 0;
  }

  .wrapper header.afia-header nav.navbar ul.nav-menu {
    display: unset;
  }

  .wrapper header.afia-header nav.navbar ul.nav-menu .nav-items {
    margin-right: unset;
    margin-bottom: 35px;
  }
}

/* Section Hero */
main section.hero {
  background-color: var(--orangeBackground);
  height: calc(100vh - 62px);
}

main section.hero .hero-image {
  background: url('../Images/hero-image.png') no-repeat;
  background-position: top center;
  background-size: cover;
  height: 500px;
}

main section.hero .hero-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  height: fit-content;
}

@media screen and (min-width: 1024px) {
  main section.hero {
    height: calc(100vh - 77px);
  }

  main section.hero .hero-image {
    background-position: left;
    background-size: contain;
    height: 100%;
  }

  main section.hero .hero-text {
    font-size: 64px;
    text-align: left;
    align-self: center;
  }
}

section.about-us h1,
section.news h1,
section.shows h1,
section.contact-us h1 {
  font-weight: 700;
  color: #111;
  font-size: 48px;
  border-bottom: 5px var(--orangeBackground) solid;
  width: fit-content;
}

/* Section About Us */
section.about-us .about-us-text button {
  background-color: var(--orangeBackground);
  outline: none;
}

section.about-us .about-us-text button:hover {
  background-color: var(--btnHover);
}

section.about-us .about-us-image {
  height: 300px;
}

section.about-us .about-us-image img {
  height: 100%;
}

@media screen and (min-width: 768px) {
  section.about-us .about-us-image {
    height: 500px;
  }
}

/* Section Studio */
section.afia-studio {
  height: 70vh;
  margin-top: 20px;
  background: rgba(255, 0, 0, 0.623) url('../Images/studio-image.png') no-repeat;
  background-position: center center;
  background-size: cover;

  background-blend-mode: multiply;

  display: flex;
  justify-content: center;
  align-items: center;
}

section.afia-studio h1 {
  color: white;
  font-size: 60px;
  font-weight: 900;
}

/* Section MarketPlace and Hub */
section.afia-others {
  height: 70vh;
  margin-top: 20px;
}

article.afia-market div {
  height: 100%;
  background: rgba(231, 234, 96, 0.71) url('../Images/market-image.png')
    no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
}

article.afia-hub div {
  height: 100%;
  background: rgba(251, 147, 72, 0.63) url('../Images/hub-image.png') no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: multiply;
}

/* Section Shows */

/* Section News */
.news .news-grid .card .btn,
.news .btn {
  background-color: var(--orangeBackground);
  width: fit-content;
}

.news .news-grid .card .btn:hover,
.news .btn:hover {
  background-color: var(--btnHover);
}

/* Section Contact Us */
